<!-- Interpolation - one way binding {{}} -->
<h1>Hello, {{title}}</h1>
<p>{{greet}}</p>

<!-- Property binding - One way binding [] -->
<img [src]="imageURL" alt="Angular logo">
<p>Above image is Angular logo...</p>

<!-- Event binding - One way binding () -->
<button (click)="increase()">Clicked {{count}} times</button>
<p>Clicked {{count}} times</p>

<!-- Two way binding [()] -->
 Enter your name here: 
<input [(ngModel)]="name" placeholder="Enter your name">
<p>Your name is {{name}}</p>
Enter your title here: 
<input [(ngModel)]="title" placeholder="Enter your title here">
<br/><br/>

<!-- get() method -->
Name plus title: {{nameplustitle}}

<app-parent></app-parent>

<!-- user list and user detail -->
<p>Total number of users (getter method): {{totalusers}}</p>
<app-user-list (users)="receiveUser($event)"></app-user-list>
<app-user-detail [userDetail]="userSelected"></app-user-detail>

<!-- task list and task detail -->
 <app-task-list (tasks)="receiveTasks($event)"></app-task-list>
 <app-task-details [taskInput]="taskSelected"></app-task-details>